@charset "utf-8";
html{
   scroll-behavior: smooth;
   /* overflow: scroll; */
}
@font-face {
   font-family: rubik;
   src: url("../fonts/Rubik-VariableFont_wght.ttf");
}

@font-face {
   font-family: rubik-italic;
   src: url("../fonts/Rubik-Italic-VariableFont_wght.ttf");
}

:root{
   --main-color:#131931;
   --secondary-color:#FEBD69;
   --text-color: #2d2d2d;
   --white-color:#fff;
   --tim-nhat:#232F3E;
   --xam:#666666;
}

/* Common */
body,input,button{
   font-family: rubik;
}

*{
   box-sizing: border-box;
}

ol,ul,p,h1,h2,h3,h4,h5,h6{
   padding: 0;
   margin: 0;
   list-style: none;
}

a{
   text-decoration: none;
   color: var(--white-color);
}

.divider{
  border-left: 1px solid #a9a9a9;
  height: 20px;
}
/* -------------------------------------------------- */
/* Top */
.bg-top{
   background-color: var(--main-color);
   padding-top: 10px;
   padding-bottom: 10px;
}

.text-top-left{
   font-size: 13px;
   color: var(--white-color);
}

.text-top-right{
   font-size: 13px;
   color: var(--white-color);
   border-right: 1px solid #ccc;
}

.dropdown-item{
   cursor: pointer;
}

/* .dropdown-lang{
   position: relative;
   cursor: pointer;
}

.dropdown-lang p{
   font-size: 13px;
   color: var(--white-color);
}

.dropdown-lang-menu{
   position: absolute;
   background-color: var(--white-color);
   right: 0;
   border-radius: 5px;
   width: 300%;
   display: none;
   z-index: 1;
}

.dropdown-lang-menu-item{
   font-size: 12px;
   padding: 6px 15px;
}

.dropdown-lang-menu-item:hover{
   background-color: #ccc;
}

.dropdown-lang:hover .dropdown-lang-menu{
   display: block;
   cursor: pointer;
}

.dropdown-currency{
   position: relative;
   cursor: pointer;
}

.dropdown-currency p{
   font-size: 13px;
   color: var(--white-color);
}

.dropdown-currency-menu{
   position: absolute;
   background-color: var(--white-color);
   right: 0;
   border-radius: 5px;
   width: 300%;
   display: none;
   z-index: 1;
}

.dropdown-currency-menu-item{
   font-size: 12px;
   padding: 6px 15px;
}

.dropdown-currency-menu-item:hover{
   background-color: #ccc;
}

.dropdown-currency:hover .dropdown-currency-menu{
   display: block;
   cursor: pointer;
} */
/* -------------------------------------- */
/* Search bar */
.search-bar{
   background-color: var(--main-color);
   border-top: 1px solid #6a6a6a;
   padding-top: 15px;
   padding-bottom: 15px;
}

.btn-search{
   background-color: var(--secondary-color);
   border: 1px solid #fff;
}

.btn-search:hover{
   color: var(--white-color);
   border: 1px solid #fff;
}

.search-bar-icon{
   color: var(--white-color);
   font-size: 24px;
   text-align: end;
}
.search-bar-icon i{
   margin-left: 10px;
   cursor: pointer;
}

.search-bar-icon i:hover {
   transform: scale(1.2);
   transition: all 0.2s linear;
}
.search-option{
   display: none;
}
.category-mobile-tablet{
   display: none;
}

/* Banner */

#banner .carousel-caption h6{
   color: #BF4D08;
   font-size: 14px;
   font-weight: 600;
}

#banner .carousel-caption h4 {
   font-weight: 700;
   color: var(--text-color);
}

#banner .carousel-caption p {
   color: var(--xam);
   font-weight: 500;
}

#banner .carousel-caption {
   text-align: left;
   top: 5%;
   left: 5%;
   cursor: pointer;
}
#banner:hover {
   transform: scale(1.1);
   transition: all 0.1s linear;
}

#banner .btn-buy-now{
   height: 40px;
   width: 90px;
   border-radius: 20px; 
   background-color: var(--main-color);
   color: var(--white-color);
}

#banner .btn-buy-now:hover {
   background-color: var(--secondary-color);
   color: var(--main-color);
   transition: all 0.2s linear;
}

#banner .carousel-indicators [data-bs-target] {
   background-color: #ffffff;
   opacity: 1;
   width: 10px;
   height: 10px;
   border-radius: 5px;
   border: none;
}

#banner .carousel-indicators .active {
   background-color: #882b2b;
}

/* Small banner */
.x-banner{
   position: relative;
   cursor: pointer;
}

.x-banner-caption{
   position: absolute;
   top: 20%;
   left: 10%;
}

.x-banner:hover {
   transform: scale(1.1);
   transition: all 0.1s linear;
}

.x-banner-caption h6{
   color: #BF4D08;
   font-size: 8px;
   font-weight: 600;
}

.x-banner-caption h4 {
   font-weight: 700;
   color: var(--text-color);
   font-size: 16px;
}

.x-banner-caption p {
   color: var(--xam);
   font-size: 10px;
   font-weight: 500;
}
/* -------------------------------- */
/* Offer service */
.service-item:hover{
   cursor: pointer;
   transform: scale(1.1);
   transition: all 0.1s linear;
}

.service-content h3 {
   font-family: rubik;
   font-size: 16px;
   color: var(--text-color);
   font-weight: 600;
   text-transform: capitalize;
   margin: 20px 0 5px 0;
}

.service-content p {
   font-size: 14px;
   color: #757575;
}
/* ---------------------------------- */
/* Responsive device */
@media screen and (max-width:1400px){

}

@media screen and (max-width:1200px){
}

@media screen and (max-width:992px){
   .text-top-left, .divider, .dropdown{
      display: none;
   }
   .text-top-right{  
     /* margin-left: auto;
     margin-right: auto; */
     text-align: center;
     border: none;
   }
   .search-section {
      display: none;
   }
   .search-option{
      display: block;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
   }
   .nav-menu{
      display: none;
   }
   .input-group {
      top: -65%
   }
   .category-mobile-tablet {
      display: block;
   }

   .x-banner-caption{
      top: 32%;
   }

   .x-banner-caption h6 {
      font-size: 10px;
   }

   .x-banner-caption h4 {
      font-size: 18px;
   }

   .x-banner-caption p {
      font-size: 12px;
   }
}

@media screen and (max-width:760px){   
   .search-bar-icon i {
      margin-left: 5px;
   }
   .input-group{
      top:0%
   }
   #banner .carousel-caption h6 {
      font-size: 12px;  
   }
   #banner .carousel-caption p {
      font-size: 12px;
   }

   .x-banner-caption{
      top: 35%;
      left: 7%;
   }
   .x-banner-caption h6 {
      font-size: 8px;
   }
   .x-banner-caption h4 {
      font-size: 16px;
   }
   .x-banner-caption p {
      display: none;
   }
}

@media screen and (max-width:760px) {
   #banner .carousel-caption h6 {
      font-size: 10px;
   }

   #banner .carousel-caption p {
      font-size: 10px;
   }

   .x-banner-caption h6 {
      font-size: 2px;
   }

   .x-banner-caption h4 {
      font-size: 12px;
   }
}



