@charset "utf-8";

html {
   scroll-behavior: smooth;
   /* overflow: scroll; */
}

@font-face {
   font-family: rubik;
   src: url("../fonts/Rubik-VariableFont_wght.ttf");
}

@font-face {
   font-family: rubik-italic;
   src: url("../fonts/Rubik-Italic-VariableFont_wght.ttf");
}

@font-face {
   font-family: fa-solid;
   src: url("../css/webfonts/fa-solid-900.ttf");
}

@font-face {
   font-family: fa-regular;
   src: url("../css/webfonts/fa-regular-400.ttf");
}

@font-face {
   font-family: fa-brand;
   src: url("../css/webfonts/fa-brands-400.ttf");
}

.fas {
   font-weight: 900 !important;
   font-family: fa-solid;
}

.far {
   font-family: fa-regular;
}

.fab {
   font-family: fa-brand;
}

:root {
   --main-color: #131931;
   --secondary-color: #FEBD69;
   --text-color: #2d2d2d;
   --white-color: #fff;
   --tim-nhat: #232F3E;
   --xam: #666666;
}

/* Common */
body,
input,
button {
   font-family: rubik;
}

* {
   box-sizing: border-box;
}

ol,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
   padding: 0;
   margin: 0;
   list-style: none;
}

a {
   text-decoration: none;
   color: var(--white-color);
}

.divider {
   border-left: 1px solid #a9a9a9;
   height: 20px;
}

/* -------------------------------------------------- */
/* Top */
.bg-top {
   background-color: var(--main-color);
   padding-top: 10px;
   padding-bottom: 10px;
}

.text-top-left {
   font-size: 13px;
   color: var(--white-color);
}

.text-top-right {
   font-size: 13px;
   color: var(--white-color);
   border-right: 1px solid #ccc;
}

.dropdown-item {
   cursor: pointer;
}

/* Search bar */
.search-bar {
   background-color: var(--main-color);
   border-top: 1px solid #6a6a6a;
   padding-top: 15px;
   padding-bottom: 15px;
}

.btn-search {
   background-color: var(--secondary-color);
   border: 1px solid #fff;
}

.btn-search:hover {
   color: var(--white-color);
   border: 1px solid #fff;
}

.search-bar-icon {
   color: var(--white-color);
   font-size: 24px;
   text-align: end;
}

.search-bar-icon i {
   margin-left: 10px;
   cursor: pointer;
}

.search-bar-icon i:hover {
   transform: scale(1.2);
   transition: all 0.2s linear;
}

.search-option {
   display: none;
}

.category-mobile-tablet {
   display: none;
}

/* ---------------------------------- */
/* Product_view */
.img-view{
   border: 1px solid #ccc;
}
/* -------------------------------------- */
/* You may like */
/* Feature collection */
.feat-collect {
   font-family: rubik;
   color: var(--main-color);
   font-weight: 600;
}

.owl-prev {
   position: absolute;
   top: -55px;
   font-size: xx-large;
   right: 40px;
   width: 20px;
   height: 20px;
   /* border: 1px solid #ccc; */
   /* background-color: #4D4D4D; */
   color: #000 !important;
   font-size: 40px !important;
}

.owl-prev:hover,
.owl-next:hover {
   background: none !important;
}

.owl-next {
   position: absolute;
   top: -55px;
   font-size: 16px;
   right: 10px;
   width: 20px;
   height: 20px;
   border: 1px solid #ccc;
   /* background-color: #4D4D4D !important; */
   color: #000 !important;
   font-size: 40px !important;
}

.collection {
   height: 365px;
   position: relative;
   cursor: pointer;
}

.img-collection {
   position: relative;
   left: 11%;
   top: 3%;
}

.img-1 {
   /* display: block; */
   position: absolute;
   opacity: 1;
   transition: all 0.2s linear;
}

.img-2 {
   /* display: none; */
   position: absolute;
   opacity: 0;
   transition: all 0.2s linear;
}

.collection:hover .img-1 {
   /* display: none; */
   opacity: 0;
   transition: all 0.2s linear;
}

.collection:hover .img-2 {
   /* display: block; */
   opacity: 1;
   transition: all 0.2s linear;
}

.favourite {
   position: absolute;
   right: 3%;
   top: 3%;
   font-size: medium;
   color: var(--main-color);
   font-weight: 600;
   width: 20px;
   height: 20px;
}

.discount {
   position: absolute;
   color: var(--text-color);
   background-color: var(--secondary-color);
   border-radius: 10px;
   text-align: center;
   width: 35px;
   height: 13px;
   top: 4%;
   left: 3%;
}

.discount p {
   font-size: 5px;
}

.brand {
   position: absolute;
   top: 45%;
   left: 8%;
   font-weight: 500;
   color: #BF4D08;
   font-family: rubik;
   font-size: 14px;
}

.device-name {
   position: absolute;
   top: 55%;
   left: 8%;
   font-weight: 600;
   font-size: 15px;
   color: var(--main-color);
}

.stars {
   position: absolute;
   top: 73%;
   left: 8%;
   color: #e0e022;
}

.price {
   position: absolute;
   top: 85%;
   left: 8%;
   font-size: 16px;
   color: var(--main-color);
   font-weight: 600;
}

.price .new-price {
   font-weight: 600;
   color: #BF4D08;
}

.price .new-price .old-price {
   color: var(--xam);
   text-decoration: line-through;
   font-weight: 400;
   margin-left: 5px;
}

.icon-hover {
   position: absolute;
   right: 3%;
   top: 9%;
   opacity: 0;
   transition: all 0.2s linear;
}

.icon-hover i {
   margin-top: 10px;
   color: var(--main-color);
   font-size: medium;
   width: 20px;
   height: 20px;
}

.icon-hover i:hover {
   background-color: var(--secondary-color);
   transition: all 0.2s linear;
   border-radius: 50%;
   text-align: center;
}

.collection:hover .icon-hover {
   opacity: 1;
   transition: all 0.2s linear;
}

.favourite:hover {
   background-color: var(--secondary-color);
   transition: all 0.2s linear;
   border-radius: 50%;
   text-align: center;
}

.pr-view-device-name{
   font-size: 20px;
   font-weight: 600;
   font-family: rubik;
   color: var(--text-color);
}

.pr-view-price{
   font-size: 20px;

}

.pr-view-price .new-price{
   font-weight: 600;
   color: #BF4D08;
}

.pr-view-price .new-price .old-price{
   text-decoration: line-through;
   font-weight: 300;
   color: var(--xam);
   margin-left: 5px;
   font-size: 16px;
}

.pr-view-discount{
   margin-left: 10px;
   background-color: var(--secondary-color);
   color: var(--text-color);
   font-size: 10px;
   padding: 2px;
   font-weight: 600;
}

.pr-view-star{
   color: #e0e022;
}

.pr-review{
   color: var(--text-color);
}

.write-review{
   color: var(--text-color);
}

.timer {
   margin-bottom: 10px;
}

.timer .days {
   color: var(--text-color);
   font-weight: 800;
   margin-right: 10px;
   font-size: 14px;
   transform: translateY(-2px);
}

.timer .hours {
   background-color: #BF4D08;
   margin-left: 10px;
   margin-right: 3px;
   width: 24px;
   height: 24px;
   font-size: 15px;
   text-align: center;
   transform: translateY(-1px);
   color: var(--white-color);
}

.timer .minutes {
   background-color: #BF4D08;
   margin-left: 3px;
   margin-right: 3px;
   width: 24px;
   height: 24px;
   font-size: 15px;
   text-align: center;
   transform: translateY(-1px);
   color: var(--white-color);
}

.timer .seconds {
   background-color: #BF4D08;
   margin-left: 3px;
   margin-right: 3px;
   width: 24px;
   height: 24px;
   font-size: 15px;
   text-align: center;
   transform: translateY(-1px);
   color: var(--white-color);
}

.pr-view-category, .pr-view-type, .pr-view-brand, 
.pr-view-tag, .pr-view-code, .pr-view-num, 
.pr-size, .pr-view-color, .pr-view-quantity{
   color: var(--text-color);
   font-size: 14px;
   margin-bottom: 15px;
}

#sl{
   border: 1px solid #000;
}

#sm{
   border: 1px solid #ccc;
}

.pr-view-color .btn{
   border: 1px solid #ccc;
}

.pr-view-color .btn.active {
   border: 1px solid #000;
}

#c1{
   background-color: #a0a0a0;
   width: 20px;
   height: 20px;
   border-radius: 10px;
}

#c3{
   background-color: #000000;
   width: 20px;
   height: 20px;
   border-radius: 10px;
}

#c2{
   background-color: blue;
   width: 20px;
   height: 20px;
   border-radius: 10px;
}

#btn-minus, #btn-plus{
   background-color: transparent;
}

#soluong{
   border: 1px solid #000;
   color: var(--main-color);
   width: 75%;
}

.btn-add-to-cart{
   background-color: var(--main-color);
   color: var(--white-color);
   padding: 10px 15px;
}

.btn-add-to-cart:hover {
   background-color: var(--secondary-color);
   color: var(--main-color);
}

.btn-buy-it-now{
   padding: 10px 20px;
   background-color: var(--secondary-color);
   color: var(--main-color);
}

.btn-buy-it-now:hover{
   background-color: var(--main-color);
   color: var(--white-color);
}

.wishlist, .compare-add{
   font-size: 14px;
   color: var(--main-color);
}

.text-payment{
   text-align: center;
   font-size: 14px;
   font-family: rubik;
   color: var(--text-color);
   margin-bottom: 5px;
}
.pr-view-pay-cards {
   text-align: center;
   font-size: 40px;
   color: var(--text-color);
}

.pr-des-title{
   text-align: center;
   color: #000;
   font-size: 20px;
}

.pr-des-info b{
   color: #000;
   font-size: 16px;
}

.pr-des-info span{
   font-size: 14px;
}
/* ----------------------------------- */
/* Footer top */
.footer-top {
   background-color: var(--main-color);
   padding: 50px;
   border-bottom: 1px solid #8b8b8b;
}

.footer-top img {
   width: 14%;
}

.sub-footer-top {
   font-family: rubik;
   font-weight: 700;
   font-size: 20px;
   letter-spacing: 1px;
   color: var(--white-color);
}

.btn-sub-foot {
   background-color: var(--main-color);
   color: var(--white-color);
   margin: 5px 5px 5px 0;
   text-transform: uppercase;
   width: 150px;
   border: none;
}

.btn-sub-foot:hover {
   background-color: var(--secondary-color);
   color: var(--main-color);
}

#input-foot-top {
   border: none;
}

/* ----------------------------------- */
/* Footer main */
.footer-main {
   font-family: rubik;
   background-color: var(--main-color);
   border-bottom: 1px solid #8b8b8b;
   padding: 50px 0;
}

.footer-main .contact-us h6,
.footer-main .information h6,
.footer-main .account h6,
.footer-main .quicklinks h6,
.footer-main .ourapp h6 {
   color: var(--white-color);
   font-weight: 600;
   font-size: 18px;
   margin-bottom: 10px;
}

.footer-main .contact-us p {
   color: var(--white-color);
   margin-bottom: 10px;
   font-size: 14px;
}

.footer-main .contact-us-mobile p {
   color: var(--white-color);
   /* margin-bottom: 2px; */
   font-size: 14px;
}

.footer-main .information ul li,
.footer-main .account ul li,
.footer-main .quicklinks ul li {
   margin-bottom: 10px;
   font-size: 14px;
}

.footer-main .information-mobile ul li,
.footer-main .account-mobile ul li,
.footer-main .quicklinks-mobile ul li {
   /* margin-bottom: 2px; */
   font-size: 14px;
}

.footer-main .contact-us .footer-media i {
   margin-right: 10px;
   background-color: var(--tim-nhat);
   width: 30px;
   height: 30px;
   border-radius: 15px;
   color: var(--white-color);
   font-size: 15px;
   text-align: center;
   vertical-align: middle;
   padding-top: 8px;
   padding-right: 1px;
   cursor: pointer;
}

.footer-main .contact-us .footer-media i:hover {
   color: var(--secondary-color);
}

.footer-main .ourapp p {
   color: var(--white-color);
   margin-bottom: 10px;
   font-size: 14px;
}

.footer-main .contact-us-mobile,
.footer-main .information-mobile,
.footer-main .account-mobile,
.footer-main .quicklinks-mobile,
.footer-main .ourapp-mobile {
   display: none;
}

.footer-main .accordion-button {
   background-color: var(--main-color);
   color: var(--white-color);
   border: none;
}

.footer-main .accordion-button:after {
   background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.footer-main .accordion-body {
   background-color: var(--main-color);
}

.footer-main .accordion-item {
   background-color: transparent;
}

.footer-main .accordion {
   --bs-accordion-border-width: 0px !important;
}

.footer-main .accordion-button:focus {
   box-shadow: none !important;
   border: none !important;
}

/* ----------------------------------- */
/* Footer bottom */
.footer-bottom {
   background-color: var(--main-color);
   padding: 10px 5px;
}

.footer-copyright {
   font-family: rubik;
   color: var(--white-color);
   font-size: 16px;
}

.footer-payment {
   font-size: 24px;
   color: var(--white-color);
   cursor: pointer;
}

/* ----------------------------------- */
/* Back to top button */
#btn-back-to-top {
   position: fixed;
   bottom: 20px;
   right: 20px;
   width: 40px;
   height: 40px;
   font-size: 20px;
   background-color: var(--secondary-color);
   border: none;
   display: none;
   z-index: 10;
}

#btn-back-to-top:hover {
   background-color: var(--xam);
   color: var(--white-color);
}

/* ----------------------------------- */
/* Blog page*/
.page-blog-title {
   font-size: 14px;
   text-align: center;
   color: var(--text-color);
   padding: 20px;
}

.page-blog-title a {
   color: var(--text-color);
}

/* ----------------------------------- */
/* Responsive device */
@media screen and (min-width:1201px) {}

@media screen and (max-width:1200px) {}

@media screen and (max-width:992px) {

   .text-top-left,
   .divider,
   .dropdown {
      display: none;
   }

   .text-top-right {
      /* margin-left: auto;
     margin-right: auto; */
      text-align: center;
      border: none;
   }

   .search-section {
      display: none;
   }

   .search-option {
      display: block;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
   }

   .nav-menu {
      display: none;
   }

   .input-group {
      top: -65%
   }

   .category-mobile-tablet {
      display: block;
   }

   .footer-top {
      padding: 15px 5px;
   }

   .footer-top img {
      width: 8%;
   }

   .foot-icon {
      margin-bottom: 50px;
      justify-content: center;
   }

   .group-input-btn-foot-top {
      justify-content: center;
   }

   .footer-copyright {
      text-align: center;
      font-size: 14px;
   }

   .footer-payment {
      text-align: center;
      font-size: 45px;
   }

   footer {
      padding: 0;
   }

   .footer-main .contact-us p,
   .ourapp-slogan {
      display: none;
   }

   .footer-main .contact-us,
   .footer-main .information,
   .footer-main .account,
   .footer-main .quicklinks,
   .footer-main .ourapp {
      display: none;
   }

   .footer-main .contact-us-mobile,
   .footer-main .information-mobile,
   .footer-main .account-mobile,
   .footer-main .quicklinks-mobile,
   .footer-main .ourapp-mobile {
      display: block;
   }

}

@media screen and (max-width:760px) {
   .search-bar-icon i {
      margin-left: 5px;
   }

   .input-group {
      top: 0%
   }

   .foot-icon {
      margin-bottom: 10px;
   }

   .sub-footer-top {
      font-size: 14px;
   }

   .btn-sub-foot {
      font-size: 12px;
      width: 90px;
   }

   .group-input-btn-foot-top {
      width: 150%;
   }

   #input-foot-top::placeholder {
      font-size: 14px;
   }

   .footer-copyright {
      font-size: 12px;
   }

   .footer-payment {
      font-size: 40px;
   }

   .pr-des-info span {
      font-size: 10px;
   }

   .pr-des-info b{
      font-size: 12px;
   }
}

@media screen and (max-width:540px) {}